//覆盖一些element-ui样式 覆盖css样式可在这里添加
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}



/* 侧边 */

.app-wrapper {
  .sidebar-wrapper {
    .sidebar-container {
      right: 0 !important;
    }
  }
}



/* 面包屑 */

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: normal !important;
}



/* 改变主题色变量 */

$--color-primary: #409EFF;


/* 改变 icon 字体路径变量，必需 */

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";