@import './element-ui.scss';
@import './mixin.scss';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  min-width: 1280px;
  overflow: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.hamburger-container:focus {
  outline: none;
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.model-table {
  border: 1px solid #e6ebf5;
  margin: 10px 0;
}

.model-pagination {
  padding: 10px 0;
  text-align: right;
}

.model-search .filter-item {
  margin-left: 10px;
}

.img-center,
.image-center {
  background-origin: content-box;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}

.tips {
  color: #9f9f9f;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


/* 列表拖拽排序 */

.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: .5;
  background: #C8EBFB;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list-group {
  padding: 0;
  margin: 0;
  min-height: 20px;
}

.list-group-item {
  cursor: move;
}

.list-group-item i {
  cursor: pointer;
}



/* elementUI 修改 */

.el-form-item--small.el-form-item {
  margin-bottom: 16px;
}

.el-dialog__body {
  padding: 20px;
  .image{
    max-width: 60%;
  }
}

.el-dialog__title {
  font-size: 14px;
}

.el-tooltip__popper {
  max-width: 600px;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
