/*
 * @Author: FT.FE.Bolin
 * @Date: 2018-04-11 17:09:53
 * @Last Modified by: chudequan
 * @Last Modified time: 2018-09-17 17:59:09
 */

@import './element-ui.scss';
@import './mixin.scss';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  min-width: 1280px;
  overflow: auto;
  background: #F6F6F6;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a:focus,
a:active {
  outline: none;
}

:focus {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.hamburger-container:focus {
  outline: none;
}

//main-container全局样式
.app-main {
  min-height: 100%;
  margin: 20px;
}

.layout-header {
  height: 60px;
  background: #fff;
}

.layout_pageHeader {
  background: #fff;
  margin: -20px -20px 20px -20px;
  padding: 20px 20px 0;
}

.layout-container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.model-search .filter-item {
  margin-left: 10px;
}

.img-center,
.image-center {
  background-origin: content-box;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}

.tips {
  color: #9f9f9f;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list-group {
  padding: 0;
  margin: 0;
  min-height: 20px;
}

.list-group-item {
  cursor: move;
}

.list-group-item i {
  cursor: pointer;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.iconfont {
  display: inline-block;
  font-style: normal;
  color: #fff;
}

/* 编辑分散式房源 */
.room-detail-container {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
  .room-detail-select {
    width: 100%;
  }
  &.hosting-room-detail {
    .room-count {
      & > label {
        width: 80px !important;
        padding-right: 0;
      }
      .el-form-item__error {
        width: 60px;
      }
    }
    .sub-room-info-list {
      .el-form-item__error {
        width: 90px;
      }
      .el-tabs__header {
        .el-icon-close {
          display: none;
        }
      }
      .el-tabs__new-tab {
        margin-right: 15px;
        border: 1px solid #409EFF;
        color: #409EFF;
        background-color: #fff;
      }
    }
    .inline-item-label {
      text-align: center;
      line-height: 32px;
      padding: 0 !important;
    }
  }
  &.estate-room-detail {
    .room-count {
      & > label {
        width: 100px !important;
        padding-right: 0;
      }
    }
  }
  .room-count {
    .room-item-count {
      margin-bottom: 0;
      input {
        padding: 0 8px;
      }
    }
  }
  .room-detail-floor-container {
    font-size: 0;
    .el-form-item {
      display: inline-block;
      &:first-child {
        width: 60%;
      }
      &:last-child {
        width: 40%;
      }
    }
    .el-input-group__prepend {
      padding: 0 8px;
    }
    .el-input__inner {
      padding: 0 8px;
    }
  }
}
